// place your custom styles here
:root {
    // --global-fill-color: #1e1e1e;
    // --global-fill-color-light: #575757;
    // --global-bg-color-bright: #e4e4e4;
    // --global-bg-color-dark: #d1d1d1;
    // --global-bg-hover-color: #575757;
    // --global-op-bg-bright: #e4e4e400;
    // --global-op-bg-dark: #d1d1d100;
    // --black: #000000;
    // --light-black: #1e1e1e;
    // --light-gray: #c8c8c8;
    // --white: #eeeeee;
    // --bright-white: #ffffff;
    // --light-blue: #84aed3;
    // --blue: #5ba4e5;
    // --pink: #f29cb1;
    // --red: #a41818;
    // --orange: #f3a602;
    // --bilibili: #00AEEC;
    // --cloud-music: #C10D0C;
    // --QQ: #12B7F5;
    // --email: #8E71C1;
    --topbar-color: 13, 17, 23;
    --topbar-shadow: 30, 30, 30;
    // --box-shadow: #1e1e1e80;
    // --box-shadow-hover: #323232b3;
    // --text-shadow-color: #0000004d;
    // --bg-brightness: brightness(50%);
    // --bg-contrast: contrast(100%);
    // --card-brightness: brightness(80%);
    // --global-grayscale: grayscale(0%);
    // --global-brightness: brightness(100%);
    // --bg-image: url(../img/background.webp);

    --auto-cur: url(/cursor/cursor.png);
    // --pointer-cur: url(/cursor/cursor-pointer.png);
}

.theme-container {
    cursor: var(--auto-cur), auto;
}

// .theme-container a {
//     cursor: var(--pointer-cur), pointer;
// }

// .dropdown-wrapper {
//     cursor: var(--pointer-cur), pointer;
// }

.vp-project-home {
    padding-top: 0;
}

.vp-hero-info-wrapper {
    min-height: 100vh;
    flex-direction: column;
}

.vp-hero-info {
    margin: auto;
}

.scroll-down-wrapper {
    width: 320px;
    cursor: pointer;
}

.scroll-down-wrapper span {
    position: relative;
    width: 100%;
    color: var(--text-color-light);
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 5px var(--dark-grey);
    line-height: 1.5;
    -webkit-animation: scroll-down-effect 1.5s infinite;
    -moz-animation: scroll-down-effect 1.5s infinite;
    -o-animation: scroll-down-effect 1.5s infinite;
    -ms-animation: scroll-down-effect 1.5s infinite;
    animation: scroll-down-effect 1.5s infinite;
}

@-moz-keyframes scroll-down-effect {
    0% {
        bottom: 0;
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
    }

    50% {
        bottom: 2vh;
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }

    100% {
        bottom: 0;
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
    }
}

@-webkit-keyframes scroll-down-effect {
    0% {
        bottom: 0;
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
    }

    50% {
        bottom: 2vh;
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }

    100% {
        bottom: 0;
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
    }
}

@-o-keyframes scroll-down-effect {
    0% {
        bottom: 0;
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
    }

    50% {
        bottom: 2vh;
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }

    100% {
        bottom: 0;
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
    }
}

@keyframes scroll-down-effect {
    0% {
        bottom: 0;
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
    }

    50% {
        bottom: 2vh;
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }

    100% {
        bottom: 0;
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
    }
}